$real-white: #ffffff;
$white-fa: #fafafa; // small-info-block-background
$white-fb: #fbfbfd;
$white-f5: #f5f5f7; // 검은색 바탕에 두꺼운 제목 글씨 색상, 바탕 색상

$real-black: #000000;
$black-1d: #1d1d1f;
$black-33: #333333;
$black-86: #86868b;
$black-99: #999999;

$divider-color: #f5f5f7; // $footer-background
$footer-background: #f5f5f7;
$footer-text-color: #6e6e73;

$black-link-tag: #2997ff;
$white-link-tag: #0066cc;

// 폰트 크기 참고
// 제목 32 48 56
// 서브 제목 19 24 28
// 링크 17 19 21
