@import '_colors';
@import '_variables';

@mixin ellipsis($lineCount: 1) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lineCount;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  word-break: break-all;
}
