@import '../../styles/mixin';

.scrollAction {
}

.stickyItem {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.show-scene-0 .scroll-section-0 .stickyItem {
  display: block;
}
.show-scene-1 #scroll-section-1 .stickyItem {
  display: block;
}
.show-scene-2 #scroll-section-2 .stickyItem {
  display: block;
}
.show-scene-3 #scroll-section-3 .stickyItem {
  display: block;
}

.description {
  font-family: $font-default;
  font-size: 32px;
  font-weight: 400;
  color: $real-black;
}
