@import '../../styles/mixin';

.SmallInfoBlockCard {
  @media #{$mobile} {
    height: 500px;
    width: 100%;
  }
  @media #{$tablet} {
    height: 490px;
    width: 50%;
  }
  @media #{$desktop} {
    height: 580px;
    width: 50%;
  }

  background-size: cover;
  background-position: center;
}

.textWrap {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.title {
  @media #{$mobile} {
    font-size: 32px;
  }
  font-family: $font-default;
  font-size: 56px;
  font-weight: 600;
  color: $real-white;
}

.subtitle {
  @media #{$mobile} {
    font-size: 19px;
  }
  font-family: $font-default;
  font-size: 28px;
  font-weight: 400;
  color: $real-white;
}

.viewMore {
  @media #{$mobile} {
    font-size: 17px;
  }
  font-family: $font-default;
  font-size: 21px;
  font-weight: 400;
  color: $black-link-tag;
}
