@import '../../styles/mixin';

.bigInfoBlockCard {
  width: 100%;
  @media #{$mobile} {
    height: 500px;
  }
  @media #{$tablet} {
    height: 650px;
  }
  @media #{$desktop} {
    height: 692px;
  }

  background-size: cover;
  background-position: center;
  border-bottom: 10px solid $divider-color;
}

.blackMode {
  .title {
    color: $real-white;
  }

  .subtitle {
    color: $real-white;
  }
}

.whiteMode {
  .title {
    color: $real-black;
  }

  .subtitle {
    color: $real-black;
  }
}

.textWrap {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.title {
  @media #{$mobile} {
    font-size: 32px;
  }
  font-family: $font-default;
  font-size: 56px;
  font-weight: 600;
}

.subtitle {
  @media #{$mobile} {
    font-size: 19px;
  }
  font-family: $font-default;
  font-size: 28px;
  font-weight: 400;
}

.viewMore {
  @media #{$mobile} {
    font-size: 17px;
  }
  font-family: $font-default;
  font-size: 21px;
  font-weight: 400;
  color: $black-link-tag;
}
